# Logs
*.log

# Dependencies
node_modules

# Static Files
static/products
static/profiles

# Environment files
*.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
