<html>

<head>
  <title>Message HTML Title</title>
</head>

<body>
  <div>
    <span style="font-weight: bold;">Hi {{this.message.name}}, </span>
    <p>We inform you that your product {{this.message.product._id}}, with title: {{this.message.product.title}}</p>
    <p>has been deleted by the Administrator.</p>
  </div>
</body>
</html>