<html>

<head>
  <title>Message HTML Title</title>
</head>

<body>
  <div>
    <span style="font-weight: bold;">Hi {{this.message.name}}, </span>
    <p>Your account has been inactive for more than {{this.message.time}} hours</p>
    <p>We inform you that hence your account has been deleted.</p>
  </div>
</body>
</html>