<html>

<head>
  <title>Message HTML Title</title>
</head>

<body>
  <div>
    <span style="font-weight: bold;">Hi {{this.message.name}}, please verify your email address: </span>
    <p>Please click on the following link to complete your registration:</p>
    <a href={{this.message.url}}>Verify Email</a>`
  </div>
</body>
</html>